<nz-layout class="app-layout">
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <div class="title">
          <div class="logo">
            <img src="./../../../assets/web-列表.png" alt="" />
          </div>
          <div class="right">
            <div class="username">
              chenwen@gmail.com
            </div>
            <div class="userimg">
              <img
                src="http://b-ssl.duitang.com/uploads/item/201607/30/20160730125028_S5iYa.thumb.700_0.jpeg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
  <!-- <nz-footer class="app-footer"> </nz-footer> -->
</nz-layout>
